@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v14/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v14/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v14/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v14/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(http://fonts.gstatic.com/s/roboto/v14/7m8l7TlFO-S3VkhHuR0at50EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://fonts.gstatic.com/s/roboto/v14/W4wDsBUluyw0tK3tykhXEfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(http://fonts.gstatic.com/s/roboto/v14/OLffGBTaF0XFOW1gnuHF0Z0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(http://fonts.gstatic.com/s/roboto/v14/t6Nd4cfPRhZP44Q5QAjcC50EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}

@charset "UTF-8";

/* ––––––––––––––––– SETTING ––––––––––––––––– */

/* MAIL WIDHT AND MEDIAQUERIES */

/* BORDER-RADIUS */

/* DEFAULT MARGIN BOTTOM ON COLLAPSE */

/* ROW WIDTH ON SIZE-S/M */

/* ––––––––––––––––– COLOR-SETTINGS ––––––––––––––––– */

/* ADD YOUR COLORS HERE */

/* ––––––––––––––––– FONT-SETTINGS ––––––––––––––––– */

/* FONTS -> SET THE FONTS VARIABLES WITH FALLBACK */

/* ––––––––––––––––– WEBFONTS ––––––––––––––––– */

@media screen and (max-width: 3000px) {
  /* hides this rule from unsupported clients */

  .roboto {
    font-family: 'Roboto', arial, sans-serif !important;
  }
}

/* CREATE FONT STYLE WITH SPECIFICATIONS HERE */

/* 	YOUT CAN USE 
	Attributes: font-size, font-size-md, font-size-sm, font-color, 
		font-weight, line-height, line-height-md, line-height-sm and letter-spacing
	values: font-variable, px, %, em, color(xxxx)
*/

/* ––––––––––––––––– BUTTON-SETTINGS ––––––––––––––––– */

/* .button */

/* .button-2 */

/* ––––––––––––––––– BREAKPOINT-MIXINS ––––––––––––––––– */

/* ––––––––––––––––– FONT-SETTINGS 2 ––––––––––––––––– */

.lead-1 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 150%;
  mso-line-height-alt: 150%;
  mso-margin-top-alt: 0;
  color: #8c8274;
}

@media (max-width: 620px) {
  .lead-1 {
    font-size: 24px !important;
  }
}

@media (max-width: 620px) {
  .lead-1 {
    line-height: 120% !important;
  }
}

.lead-2 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  mso-line-height-alt: 150%;
  mso-margin-top-alt: 0;
  color: #414042;
}

.lead-3 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: #8c8274;
}

.outside {
  font-family: Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #000001;
}

.basic-1 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  mso-line-height-alt: 150%;
  mso-margin-top-alt: 0;
  color: #414042;
}

.button-text-1 {
  font-weight: bold;
  font-style: italic;
  color: #8c8274;
  font-size: 14px;
}

.button-text-2 {
  font-weight: bold;
  font-style: italic;
  color: #8c8274;
  font-size: 12px;
}

/* ad td-selector before class-selector to make it more important on size-s */

@media (max-width: 520px) {
  td .lead-1 {
    font-size: 20px !important;
  }
}

@media (max-width: 520px) {
  td .lead-1 {
    line-height: 100% !important;
  }
}

/* ––––––––––––––––– DON'T TOUCH BELOW HERE ––––––––––––––––– */

/* ––––––––––––––––– BASICS ––––––––––––––––– */

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.body {
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

a {
  text-decoration: none;
}

[class*='col-'] {
  box-sizing: border-box;
}

/* ––––––––––––––––– COLORS ––––––––––––––––– */

.bg-color-white {
  background-color: #FFFFFE;
}

/* ––––––––––––––––– COLUMN SETTINGS ––––––––––––––––– */

.outer-row {
  width: 100%;
}

.row-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row {
  width: 600px;
  /*	margin-left: 10px; */
  /*	margin-right: 10px; */
  border-collapse: separate;
}

.col-12-span {
  width: 100%;
}

.col-8-span {
  width: 66.666666666%;
}

.col-4-span {
  width: 33.333333333%;
}

/* ––––––––––––––––– IMAGE-SETTINGS ––––––––––––––––– */

/* SIZE-M */

/* SIZE-S */

/* ––––––––––––––––– BORDER-RADIUS ––––––––––––––––– */

/* ––––––––––––––––– BUTTON ––––––––––––––––– */

@media (max-width: 520px) {
  .button-wrapper {
    display: inline-block;
  }
}

.button {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #e0dede;
}

.button a {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #e0dede;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}

.button-2 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #e0dede;
}

.button-2 a {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #e0dede;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline-block;
}

/* ––––––––––––––––– LINKS STYLING ––––––––––––––––– */

/* =============================================
   CHANGE ALIGN
   ============================================= */

@media (max-width: 520px) {
  td .align-sm-left {
    text-align: left !important;
  }

  td .align-sm-center {
    text-align: center !important;
  }
}

/* =============================================
   SIZE M
   ============================================= */

@media (max-width: 620px) {
  .row {
    width: 92% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    /*	padding-left: 0 !important; */
    /*	padding-right: 0 !important; */
  }

  [class*='col-']:not(.keep-img) img {
    width: 100%;
    height: auto !important;
  }
}

/* =============================================
   SIZE S
   ============================================= */

@media (max-width: 520px) {
  table.row {
    width: 100% !important;
  }

  [class*='col-'] {
    display: block !important;
    width: 100% !important;
  }

  .keep-img-sm img {
    width: inherit !important;
    height: auto !important;
  }
}

/* =============================================
   OHTER SASS FILES
   ============================================= */

/* APPLE MAIL */

/* REMOVE BLUE COLOR ON LINKS, PHONE AND ADDRESS */

@media (max-width: 3000px) {
  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
  }
}

/* OUTLOOK 2007-2013 */

/* REMOVE HEIGHT IN TR-TAGS */

/*
.inner-col tr {
   font-size: inherit !important; 
   mso-line-height-alt: inherit !important; 
   mso-margin-top-alt: inherit !important;
}
*/

/* ––––––––––––––––– SETTING ––––––––––––––––– */

/* MAIL WIDHT AND MEDIAQUERIES */

/* BORDER-RADIUS */

/* DEFAULT MARGIN BOTTOM ON COLLAPSE */

/* ROW WIDTH ON SIZE-S/M */

/* ––––––––––––––––– COLOR-SETTINGS ––––––––––––––––– */

/* ADD YOUR COLORS HERE */

/* ––––––––––––––––– FONT-SETTINGS ––––––––––––––––– */

/* FONTS -> SET THE FONTS VARIABLES WITH FALLBACK */

/* ––––––––––––––––– WEBFONTS ––––––––––––––––– */

@media screen and (max-width: 3000px) {
  /* hides this rule from unsupported clients */

  .roboto {
    font-family: 'Roboto', arial, sans-serif !important;
  }
}

/* CREATE FONT STYLE WITH SPECIFICATIONS HERE */

/* 	YOUT CAN USE 
	Attributes: font-size, font-size-md, font-size-sm, font-color, 
		font-weight, line-height, line-height-md, line-height-sm and letter-spacing
	values: font-variable, px, %, em, color(xxxx)
*/

/* ––––––––––––––––– BUTTON-SETTINGS ––––––––––––––––– */

/* .button */

/* .button-2 */

.body {
  background-color: #e0dede;
}

@media (max-width: 355px) {
  img[alt="logo"] {
    width: 100%;
  }
}

/* ––––––––––––––––– SETTING ––––––––––––––––– */

/* MAIL WIDHT AND MEDIAQUERIES */

/* BORDER-RADIUS */

/* DEFAULT MARGIN BOTTOM ON COLLAPSE */

/* ROW WIDTH ON SIZE-S/M */

/* ––––––––––––––––– COLOR-SETTINGS ––––––––––––––––– */

/* ADD YOUR COLORS HERE */

/* ––––––––––––––––– FONT-SETTINGS ––––––––––––––––– */

/* FONTS -> SET THE FONTS VARIABLES WITH FALLBACK */

/* ––––––––––––––––– WEBFONTS ––––––––––––––––– */

@media screen and (max-width: 3000px) {
  /* hides this rule from unsupported clients */

  .roboto {
    font-family: 'Roboto', arial, sans-serif !important;
  }
}

/* CREATE FONT STYLE WITH SPECIFICATIONS HERE */

/* 	YOUT CAN USE 
	Attributes: font-size, font-size-md, font-size-sm, font-color, 
		font-weight, line-height, line-height-md, line-height-sm and letter-spacing
	values: font-variable, px, %, em, color(xxxx)
*/

/* ––––––––––––––––– BUTTON-SETTINGS ––––––––––––––––– */

/* .button */

/* .button-2 */

/* ––––––––––––––––– PADDINGS ––––––––––––––––– */

.pad-left-10 {
  padding-left: 10px;
}

.pad-left-20 {
  padding-left: 20px;
}

.pad-left-40 {
  padding-left: 40px;
}

.pad-right-10 {
  padding-right: 10px;
}

.pad-right-20 {
  padding-right: 20px;
}

.pad-right-40 {
  padding-right: 40px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-15 {
  padding-top: 15px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

.pad-bottom-15 {
  padding-bottom: 15px;
}

.pad-bottom-20 {
  padding-bottom: 20px;
}

.pad-bottom-40 {
  padding-bottom: 40px;
}

.pad-bottom-50 {
  padding-bottom: 50px;
}

.pad-bottom-70 {
  padding-bottom: 70px;
}

.pad-bottom-100 {
  padding-bottom: 100px;
}

@media (max-width: 520px) {
  td .pad-sm-left-20 {
    padding-left: 20px !important;
  }

  td .pad-sm-right-0 {
    padding-right: 0px !important;
  }

  td .pad-sm-right-20 {
    padding-right: 20px !important;
  }

  td .pad-sm-bottom-10 {
    padding-bottom: 10px !important;
  }

  td .pad-sm-bottom-20 {
    padding-bottom: 20px !important;
  }

  td .pad-sm-bottom-30 {
    padding-bottom: 30px !important;
  }
}

/*# sourceMappingURL=style.css.map */
